{% extends "base.html" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
    <div class=" ">
        <h1 class="">Welcome to my Site!</h1>
        
    </div>

    <div class="container ">
        <div class="row">

            <div class="bio col-sm-4">
                <h2>About Me</h2>
                <div class="container">
                    <div class="row">
                        <h3>Find me on online <small>@StevTheDev</small></h3>
                        <div class="col-12"></div>
                        <div class="col-12"><a href="http://github.com/StevTheDev">On Github</a></div>
                        <div class="col-12"><a href="http://twitter.com/StevTheDev">On Twitter</a></div>
                    </div>
                </div>
            </div>

            <div class="photo col-sm-4">
                <h2>Photo Div</h2>
            </div>

            <div class="info col-sm-4 ">
                <div class="row">
                    <h3>Education<h3>
                    <div class="col-12">
                        <p>Some college until 2015, including classes covering:</p>
                        <ul>
                            <li>Programming Basics</li>
                            <li>Data Structures</li>
                            <li>Databases</li>
                            <li>Algorithms</li>
                            <li>Operating Systems</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <h3>Certifications</h3>
                    <div class="col-12 font-weight-bold">CompTIA Security+ <small>Accquired March 2017</small></div>
                    <div class="col-12 font-weight-bold">CompTIA Network+ <small>Accquired November 2017</small></div>
                </div>
                <div class="row">
                    <h3>Work Experience</h3>
                    <div class="col-12 font-weight-bold">IT Administrator - Aromatique, Inc <small>October 2017 - March 2019</small></div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
