{% extends 'base.html' %}
{% block title %}
    {{article.title}} by {{article.author}}
{% endblock title %}

{% block style %}
{% include 'latexify/stylesheets.html' %}
{% endblock style %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5 col-lg-6 card bg-light text-dark article-body">
        {% include body_template_path %}
        </div>
        <div class="col-md-7 col-lg-6 card article-code">
        {% autoescape off %} {{ article_code | safe }} {% endautoescape %}
        </div>
    </div>
</div>
{% include "latexify/scripts.html" %}
{% endblock content %}