{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Articles Home
{% endblock title %}

{% block content %}
<div class="container card bg-light">
    <div class="row">
        <div class="col-12">    
        <table class="table">
        <thead>
            <td>Subject</td>
            <td>Language</td>
        </thead>
        {% for article in articles_list %}
        <tr>
            <td>
                <a href= {% url 'view_article' article.id %} >{{article.title}} by {{ article.author }}</a>
            </td>
            <td>{{article.language}}</td>
        </tr>
        {% endfor %}
        </table>
        </div>
    </div>
</div>
{% endblock content %}  